* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
    color: #2563eb;
}

body {
  background: #f8f9fa;
  color: #535353;
  line-height: 1.5;
}

header {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  color: white;
}

header img {
  border-radius: 10px;
  margin-bottom: 15px;
}

#title {
  font-size: 2px;
  margin: 10px 0;
}

nav {
  margin-top: 15px;
}

nav a {
 
  color: white;
  margin: 0 12px;
  font-weight: bold;
  padding: 6px 10px;
  transition: 0.3s;
}

nav h1{
  
  color: black;
  border-radius: 5px;
}

section {
  
  margin: 30px;
  padding: 20px;
  background: rgb(132, 223, 239);
  border-radius: 10px;

}

section h2 {
  color: #1e40af;
}

section p {
  text-align:center;
}

section ul {
  margin: 15px;
  padding-left: 20px;
}

section li {
  margin: 6px 0;
  font-weight: bold;
  color: #ffffff;
}

section img {
  margin-top: 5px;
  margin-bottom: 10px;
}

section a {
  margin: 10px;
  color: #2563eb;
  font-weight: bold;
}

footer {
  background: #1e293b;
  color: white;
  text-align: center;
  padding: 15px 10px;
  margin-top: 30px;
}